<div class="container scrollable  side-margins">


    <div class="">
        <div class=" bd-highlight headerTop" routerLink="/login">
            <span class="span fs-3 mybgcolor ">Bank</span><span class="text-wrapper-2  fs-3">Lingo</span>
        </div>

        <div class=" bd-highlight text-center mb-5 headerTop">
            <h6>Please enter the OTP sent to your email to continue</h6>

        </div>
        <div class="row d-flex align-items-center mt-5 flex-column ">
            <img class="woman-shaking-hands" src="assets/img/Guy with the key is trying to log into his account.png" />
        </div>
        <div id="otp" class="d-flex flex-row justify-content-center " style="color: #444">
            <input class="text-center form-control-lg form-control " placeholder="****" type="text" [(ngModel)]="otp" maxlength="6" />
        </div>
        <br>
        <div class="row d-flex align-items-center flex-column mb-5">
            <button type="submit" class="btn btn-primary" (click)="verifyOtp()">Submit</button>
        </div>


        <div class=" bd-highlight text-center">
            <h6>Did not receive the OTP? </h6>
            <button type="Resend" class="btn btn-sm mt-2" (click)="resendOtp()">Resend in {{seconds}}</button>
        </div>
        <br>

        <br />
       
     
      
       

    </div>
</div>