
<div class="container">
    
</div>
<div class="side-margins headerTop">
    <div class=" bd-highlight">
        <span class="span fs-3 mybgcolor ">Bank</span><span class="text-wrapper-2  fs-3">Lingo</span>
    </div>
    <br>
    <br>
    <b>
    <div class=" bd-highlight text-center">
        <h6>Please enter the OTP sent to your email to verify your account</h6>
                
    </div>
    <div class="row d-flex align-items-center mt-5 flex-column ">
        <img
            class="woman-shaking-hands"
          
            src="assets/img/Guy with the key is trying to log into his account.png"
          />
      </div>
      <div id="otp" class="inputs d-flex flex-row justify-content-center mt " style="color: #444">  <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" /> <input class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" /> </div>
       <br>
    <br>
    <div class=" bd-highlight text-center">
        <h6>Did not receive the OTP? <u>Resend?</u></h6>
                
    </div>
      <div class="row d-flex align-items-center flex-column">
      <button type="submit"  class="btn " (click)="
      onSubmit()">Submit</button>
      </div>
    