<div class="container">
    <app-nav-bar></app-nav-bar>
</div>

  <form (ngSubmit)="onSaveDate()" style="margin-top: 
  1%;margin-bottom: 1%;margin-left: 5%;margin-right: 5%; height:100vh">
  <h5 class="text-center mb-4 headerTop">Select duration of your lesson plan</h5><br>


<br>

    <div class="calendar-container" >
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
      
      <div class="d-flex justify-content-center pt-4">
      <div *ngIf="duration.length > 0">
        <h5> {{ getSelectedDaysCount() }} Days selected</h5>
      </div>
      </div>





<div class="d-flex justify-content-center py-4">
    <button type="submit" class="btn" (click)=" onSaveDate()"
      >Generate Lesson Plan</button>
      </div>


    </form>

