
<!-- <full-calendar #fullcalendar [options]="calendarOptions"></full-calendar>
<div class="d-flex justify-content-center">
    <button type="submit" class="btn"
      >Generate</button>

  </div> -->
  <h5 class="text-center mb-5 headerTop">Select duration of your lesson plan</h5>


<form  (ngSubmit)="onSaveDate()">

    <div class="calendar-container" >
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
      
      <div class="d-flex justify-content-center">
      <div *ngIf="selectedDates.length > 0">
        <h5> {{ getSelectedDaysCount() }} Days selected</h5>
      </div>
      </div>





<div class="d-flex justify-content-center">
    <button type="submit" class="btn"
      >Generate</button>
      </div>
    </form>

