
 <section class="fullScreen" style="background-color: #ffffff;">
 
  <app-nav-bar></app-nav-bar>
  <div class="container">
   
    <div class="row py-2">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <div class="align-items-center justify-content-center d-flex">

              <div *ngIf="user.profile_picture">
              <img
                src={{user.profile_picture}}
                alt="Generic placeholder image"
                class="img-fluid profileImage"
                style="width: 120px; height: 120px; border-radius: 120px"
              />
            </div>
              <div *ngIf="!user.profile_picture">
                <img
                src="../../../assets/img/profile_placeholder.jpeg"
                alt="Generic placeholder image"
                class="img-fluid profileImage"
                style="width: 120px; height: 120px; border-radius: 120px"
              />
              </div>
            </div>
            <h5 class="my-3">{{user.name}} {{user.surname}}</h5>
            
            <div class="d-flex justify-content-center mb-2">
              <a routerLink="/edit_profile">
              <button type="button" class="btn btn-primary">Edit Profile</button>
              
            </a>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row" >
              <div class="col-sm-3">
                <p class="mb-0">First Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Last Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.surname}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Age</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.age}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Contact number</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.contact_number}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.email}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">Lesson plan progress status</span> 
                </p>
              
                <p class="mt-4 mb-1" style="font-size: .77rem;">Cheque Account</p>

                <div>
                  <progress [value]="progressValue" [max]="maxValue"></progress>
                  <span>{{ progressValue }}% Complete</span>
                </div>

                
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">Favourites term searched</span>
                </p>
                
               
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Saving</li>
                  <li class="list-group-item">Cardless</li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
        <i class="bi bi-box-arrow-right" style="font-size: 25px;" (click)="logout()"></i> Logout

        
      </div>
    </div>
  </div>
  
</section>
<!-- <app-bottom-nav-bar></app-bottom-nav-bar> -->