
       

        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
         
            <div class="card-body p-5">
              
                <div class="align-items-center justify-content-center d-flex">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                      alt="Generic placeholder image" class="img-fluid profileImage"
                      style="width: 200px; height:200px; border-radius: 200px;">
                  </div>
    

              <form >

                <div class="form-outline mb-4"><div class="row justify-content-center">
                    <div class="col-6">
                        <h3>First name</h3> 
                    </div>
                    <div class="col-6">
                        <div class="frame" id="profileNav" routerLink="/edit_profile">
                            <span id="boot-icon" class="bi bi-pencil" style="font-size: 2rem; color: rgb(0, 0, 0);"></span>
                         
        </div>
                    </div>
                  </div>


                    
                   
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      
                     
                    </div>
                  </div>



                
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Progress bar</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Cheque Account</h6>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                      </div>
                     
                    </div>
                  </div>
                 

               
                   
                    
                
               
               
            

              </form>


            </div>
          
     
    
    
               
              
          </div>
          <app-bottom-nav-bar></app-bottom-nav-bar>
      



