<section class="vh-100 bg-image"
  style="background-color: white">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
       

        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
         
            <div class=" bd-highlight">
              <span class="span mybgcolor fs-3">Bank</span><span class="text-wrapper-2   fs-3">Lingo  </span>
          </div>

            <div class="card-body p-5">
              
              <h2 class="text-center mb-5">Register</h2>

              <form [formGroup]="fb" (ngSubmit)="onSubmit()">

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" style=" border: 1px solid; border-color: black;"
                  id="name"
                  formControlName="name" placeholder="First Name"/>
                  <div *ngIf="fb.get('name')?.invalid&&fb.get('name')?.touched" class="error-text">
                    <div *ngIf="fb.get('name')?.errors?.['required']">Name is required.</div>
                    <div *ngIf="fb.get('name')?.errors?.['minLength']">Name must be at least 3 characters long.</div>
                </div>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" style=" border: 1px solid; border-color: black;"
                    id="surname"
                    formControlName="surname"  placeholder="Last Name"/>
                    <div *ngIf="fb.get('surname')?.invalid&&fb.get('surname')?.touched" class="error-text">
                      <div *ngIf="fb.get('surname')?.errors?.['required']">Surname is required.</div>
                      <div *ngIf="fb.get('surname')?.errors?.['minLength']">Surname must be at least 3 characters long.</div>
                  </div>

                </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" style=" border: 1px solid; border-color: black;"
                    id="age"
                    formControlName="age" placeholder="Age"/>

                    <div *ngIf="fb.get('age')?.invalid&&fb.get('age')?.touched" class="error-text">
                      <div *ngIf="fb.get('age')?.errors?.['required']">Age is required</div>
                      <div *ngIf="fb.get('age')?.errors?.['invalidAge']">Age must be at least 2 or 3 numbers</div>
                  </div>
                    
                  </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" style=" border: 1px solid; border-color: black;"
                id="email"
                    formControlName="email" placeholder="Email address"/>

                    <div *ngIf="fb.get('email')?.invalid&&fb.get('email')?.touched" class="error-text">
                        <div *ngIf="fb.get('email')?.errors?.['required']">Email is required</div>
                        <div *ngIf="fb.get('email')?.errors?.['email']">Invalid email</div>
                    </div>
                  
                  
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" style=" border: 1px solid; border-color: black;"
                  id="password"
                      formControlName="password" placeholder="Password"/>
                  <div *ngIf="fb.get('password')?.invalid && fb.get('password')?.touched" class="error-text">
                    <div *ngIf="fb.get('password')?.errors?.['required']">Password required.</div>
                    <div *ngIf="fb.get('password')?.errors?.['minLength']">Password  must be at least 8 characters long.</div>
                    <div *ngIf="fb.get('password')?.errors?.['invalidPassword']">Password must contain at least one symbol, one number, and one letter.</div>
                  </div>
                 
                </div>

                <div *ngIf="regInvalid" class="text-center text-danger mb-3">
                  Please fill in all required fields
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!" routerLink="/login"
                    class="text ml-1 font-medium text-blue-400"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

</section>