img{     height: 30vh;     width: 70vw; } 
.btn{     width: 80vw;      border-radius: 999em 999em 999em 999em;      background-color: #38a3a5; }  
.mybgcolor{    color: #38a3a5; }
.text{color: #38a3a5;}

.error-text {
    color: red;
  }