
<div class=" rounded d-flex">
  <div class="searchLayout">
    <input type="search" class="form-control rounded inputBorder" style="width:90%" placeholder="Ask me to explain anything..." aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0 btnBorder" id="search-addon">
        <i class="bi bi-search" style="color: #007bff;"></i>
    </span>
  </div>
  
</div>


<!-- <div class="card humorPosition input-group d-flex form-group" style="flex-direction: row;">

  <input type="search" class="form-control rounded searchLayout" placeholder="Ask me to explain anything..." aria-label="Search" aria-describedby="search-addon" />
  <span class="input-group-text border-0" id="search-addon">
      <i class="bi bi-search"></i>
  </span>
 </div> -->