<div class="container">
  <app-nav-bar></app-nav-bar>

  <div>
    <div class="fullScreenWithTitle centerCards side-margins">

      <div class="card text-white bg-primary mb-3"  *ngFor="let allLessonPlans of allPlans">
        <div class="card-header d-flex align-items-center justify-content-between">
          <span>In progress</span>
          <span><b>25%</b></span> 

        </div>
        <div class="card-body">
          <h5 class="card-title">{{allLessonPlans.plan_name}}</h5>
          <p class="card-text"> {{allLessonPlans.lesson_description}}</p>
        </div>
        <div class="card-footer">
          <div class="d-flex align-items-center justify-content-between">
            <span>{{allLessonPlans.duration}} days plan</span>
            <a [routerLink]="['/testing', allLessonPlans.plan_id]" class="badge bg-dark">Continue</a>
          </div>
        </div>
      </div>
      <!-- <div class="card text-white bg-secondary mb-3">
        <div class="card-header d-flex align-items-center justify-content-between">
          <span>Not started</span>
          <span><b>0%</b></span> 

        </div>
        <div class="card-body">
          <h5 class="card-title">Secondary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-footer">
          <div class="d-flex align-items-center justify-content-between">
            <span>0/4 days complete</span>
            <span class="badge bg-dark">Start</span>
          </div>
        </div>
      </div>
      <div class="card text-white bg-success mb-3">
        <div class="card-header d-flex align-items-center justify-content-between">
          <span>Done</span>
          <span><b>100%</b></span> 

        </div>
        <div class="card-body">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-footer">
          <div class="d-flex align-items-center justify-content-between">
            <span>1/1 days complete</span>
            <span class="badge bg-dark">Restart</span>
          </div>
        </div>
      </div> -->
     
    </div>
  </div>
</div>