<div class="container scrollable  side-margins fullScreenWithTitle">

  
    <div class="centerCards">

      <div class="card text-white bg-primary mb-3"  *ngFor="let allLessonPlans of allPlans">
        <div class="card-header d-flex align-items-center justify-content-between">
          <span>In progress</span>
          <span><b>25%</b></span> 

        </div>
        <div class="card-body">
          <h5 class="card-title">{{allLessonPlans.plan_name}}</h5>
          <p class="card-text"> {{allLessonPlans.lesson_description}}</p>
        </div>
        <div class="card-footer">
          <div class="d-flex align-items-center justify-content-between">
            <span>{{allLessonPlans.days_count}}/{{allLessonPlans.duration}} days complete</span>
            <a [routerLink]="['/testing', allLessonPlans.plan_id]" class="badge bg-dark">Continue</a>
          </div>
        </div>
      </div>

    </div>
 
</div>