<div class="container">
  <app-nav-bar></app-nav-bar>

  <div>
    <div class="fullScreenWithTitle centerCards side-margins">

      <div class="card text-white bg-primary mb-3">
        <div class="card-header d-flex align-items-center justify-content-between">
          <span>In progress</span>
          <span><b>25%</b></span> 

        </div>
        <div class="card-body">
          <h5 class="card-title">Credit card</h5>
          <p class="card-text"> A credit card is like a magic card that lets you buy things now and pay for them later.</p>
        </div>
        <div class="card-footer">
          <div class="d-flex align-items-center justify-content-between">
            <span>2/3 days complete</span>
            <span class="badge bg-dark">Continue</span>
          </div>
        </div>
      </div>
      <div class="card text-white bg-secondary mb-3">
        <div class="card-header d-flex align-items-center justify-content-between">
          <span>Not started</span>
          <span><b>0%</b></span> 

        </div>
        <div class="card-body">
          <h5 class="card-title">Secondary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-footer">
          <div class="d-flex align-items-center justify-content-between">
            <span>0/4 days complete</span>
            <span class="badge bg-dark">Start</span>
          </div>
        </div>
      </div>
      <div class="card text-white bg-success mb-3">
        <div class="card-header d-flex align-items-center justify-content-between">
          <span>Done</span>
          <span><b>100%</b></span> 

        </div>
        <div class="card-body">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-footer">
          <div class="d-flex align-items-center justify-content-between">
            <span>1/1 days complete</span>
            <span class="badge bg-dark">Restart</span>
          </div>
        </div>
      </div>
      <div class="card text-white bg-danger mb-3">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Danger card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>
</div>