<div class="card_container">
  <div
    class="card"
   
    *ngFor="let x of course; let i = index"
  >
    <div class="card-body">
      <h5 class="card-title">{{ x.day }}</h5>
      <p>
        <button
          class="description_button"
          type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#collapse' + i"
          aria-expanded="false"
          [attr.aria-controls]="'collapse' + i"
        >
          Description
        </button>
      </p>
      <div [id]="'collapse' + i" class="collapse collapse-horizontal">
        <div class="card card-body" style="width: 300px">
          {{ x.description }}
        </div>
      </div>

      <a
        class="card-link"
        [routerLink]="['/singletopic', x.day]"
        [class.disabled]="!coveredStatusArray[i]"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
          <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg>Learn More</a
      >

      <div *ngIf="x.covered" class="congratulations">
        <p> Congratulations, you have covered all topics in this card!</p>
       
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="loader">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
