

 <section style="background-color: #ffffff;">
  <div class="container scrollable  side-margins fullScreenWithTitle">
     <div class="row">
         <div class="col-md-6">
          <div class="card mb-4 mb-md-0" >
       

            <table class="table" style="border-color: #ffffff;">
              <thead  class="headingFont  my-3" >
                
                <tr>
                
                  <th scope="col"  style="color:cadetblue;">All tasks</th>
                  <th scope="col" style="color:cadetblue;">Not started</th>
                  <th scope="col" style="color:cadetblue;">Started</th>
                  <th scope="col" style="color:cadetblue;">Completed</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><h5>{{ lessonCount }}</h5></th>
                 
                  <td><h5> {{ zeroProgressCount }}</h5></td>
                  <td><h5> {{startedProgressCount}}</h5></td>
                  <td><h5>  {{countTaskCompleted}} </h5></td>
                 
                </tr>
                
                
              </tbody>
            </table>
            
            
              </div>
              </div>
             
         
        
             
            

         <div class="col-md-6">
          <div class="card mb-4 mb-md-0" >
        
            <div class="headingFont d-flex justify-content-left my-3">
              Progress status of the task that you have:  
            </div>
      

              <!-- Displaying the terms -->   
           <div *ngFor="let processed of processedData" style="padding:10px">
            <div>{{ processed.data.plan_name }}</div>
            <div class="progress" >
             
            <div class="progress-bar bg-success" role="progressbar"
                 [style.width.%]="processed.progressValue"
                 [attr.aria-valuenow]="processed.progressValue"
                 [attr.aria-valuemin]="0"
                 [attr.aria-valuemax]="100">
              {{ processed.progressValue.toFixed(0) }}%
            </div>
           
            
           </div>
             
              </div>
                
                     
          </div>
          </div>

                
     </div>
  </div>
        
              
  
</section>

