
 <section style="background-color: #ffffff;">
  <div class="container py-5">
    <div class="container"> 
      <app-nav-bar></app-nav-bar>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4 mb-md-0">
        
          <div class="card-body text-center">
            <div class="image-container">

              <!-- Display the profile image -->
                <div *ngIf="user.profile_picture">
                     <img
                      src={{user.profile_picture}}
                      alt="Generic placeholder image"
                      class="img-fluid profileImage"
                      style="width: 60px; height: 60px; border-radius: 60px; margin-right:10%;" 
                    />
                  </div>
             

                  
              
            </div>
         <!-- Display the user name and surname -->
            <h5 class="my-3">{{user.name}} {{user.surname}}</h5> 
            
            
              
              </div>
            
            
            
            <div class="d-flex justify-content-center mb-2">
              <a routerLink="/edit_profile">
             
              
            </a>
            </div>
          </div>
         </div>
    </div>
        
        
      

    
      <div class="headingFont d-flex justify-content-left my-3">
        Task currently busy with progress status
      </div>

           
     
            
        
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
               
                <span>Cheque Account</span>
                <!-- progress-bar.component.html -->



                <div>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar"
                         [style.width.%]="progressValue"
                         [attr.aria-valuenow]="progressValue"
                         [attr.aria-valuemin]="0"
                         [attr.aria-valuemax]="100">
                     
                    </div>
                    
                  </div>
                  <span> {{progressValue}} % Complete</span>
                 

                  
                  </div>

                
              </div>
            </div>
          </div>

          <div class="headingFont d-flex justify-content-left my-3">
            No of tasks you have.
          </div>

          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
               
                <!-- Display the number of task the user have -->

                <h5> {{ lessonCount }}</h5>

                
              </div>
            </div>
          </div>
          
          
            
            

          <!-- Getting the all the terms searched by the user -->
             
                
                <div class="col">
                    <div class="headingFont d-flex justify-content-left my-3">
                      Favourites term searched 
                      </div>
                  <div class="card">
                    
                    <div class="card-body">
                     
                        <div *ngFor="let searchObj of favoutitesArray">
                
                
                
                            <ul class="list-group list-group-flush">

                              <!-- Displaying the terms -->
                              <li class="list-group-item">{{searchObj.query_searched}}</li>
                              </ul>
                             
                    </div>
                   
                    <!-- If there are no term searched -->
                    <div *ngIf="showMessage">{{ messageText }}</div>
                   
                             
                            </div>
                  </div>
                  </div>
                </div>
                </div>
        
            
        
              
  
</section>
<!-- <app-bottom-nav-bar></app-bottom-nav-bar> -->