<!-- <div class="container">
    <div class="row align-items-center">
      <div class="col-auto">
        <a href="#" class="back-arrow push-left"><i class="bi bi-chevron-left"></i></a>
      </div>
      <div class="col text-center">
     
      </div>
    </div>
  </div>

 -->


 <div class="container">
    <div class="row margins" >
      <div class="col">
        <!-- <a  href="#" ><i class="bi bi-chevron-left"></i></a> -->
        <i (click)="navigateBack()" class="bi bi-chevron-left"></i>
      </div>
      <div class="col justify-content-center align-items-center d-flex">
        <h4>Progress</h4>
      </div>
      <div class="col">
        <!-- Column -->
      </div>
    </div>
  </div>