
<div class="margins">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <i (click)="navigateBack()" class="bi bi-chevron-left"></i></a>    
        <div class="navbar-title">
          {{showTitle()}}
        </div>
      </div>
    </nav>
    <div *ngIf="isProfilePage()" class="collapse position-fixed end-0 px-3" id="collapseExample" style="width:auto; position:sticky; right:10px;">
      <div class="list-group" style="width:fit-content">
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-box-arrow-down" ></i>  Install as app</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-gear"></i>  Settings</a>
        <a (click)="logout()" class="list-group-item list-group-item-action"><i class="bi bi-box-arrow-left"></i> Logout</a>

      </div>
    </div>
  </div>




