.margins{
    padding-top:14px;
    padding-bottom:14px;
    font-size:larger;
    font-weight: bold;
    position: absolute;
    height:fit-content;
    top: 0;
    width: 100%;
    background-color: white;

}
