
<!-- Container for the header section -->
 <div class="container">
   <!-- Row containing the header elements with margins -->
    <div class="row margins" >
       <!-- Column for the back navigation icon -->
      <div class="col">
         <!-- Clickable icon to navigate back, invokes the "navigateBack()" function -->
        <i (click)="navigateBack()" class="bi bi-chevron-left"></i>
      </div>
      <!-- Center column for displaying the header title -->
      <div class="col-6 justify-content-center align-items-center d-flex">
          <!-- Heading showing dynamic title returned by the "showTitle()" function -->
        <h4>{{showTitle()}}</h4>
      </div>
      <div class="col">
        <!-- Column -->
      </div>
    </div>
  </div>