<section class="vh-100 bg-image"
  style="background-color: white">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
         
            <div class=" bd-highlight"  style=" font-family: Inter-ExtraBold, Helvetica">
              <span class="span mybgcolor fs-3">Bank</span><span class="text-wrapper-2 fs-3">Lingo</span>
          </div>
            <div class="card-body p-5">
              

              <h2 class="text-center mb-5">Login Here!</h2>


              

              <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="form-outline mb-4">
                  
                  
            
                 
                  
                  <input type="email"   id="form3Example3cg" class="form-control form-control-lg" style=" border: 1px solid; border-color: black;" formControlName="email"   placeholder="Email address"/>
                 
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" style=" border: 1px solid; border-color: black;" formControlName="password" placeholder="Password"/>
                 
                </div>

                <div *ngIf="invalidCredentials" class="text-center text-danger mb-3">
                  Invalid credentials. Please try again.
                </div>


                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn"
                    >Login</button>
                </div>

                <p class="text text-center text-muted mt-5 mb-0">Don't have an account? <a href="#!" routerLink="/register"
                    class="text ml-1 font-medium text-blue-400"><u>Register</u></a></p>


                    <p class="text-center text-muted mt-5 mb-0"><a href="#!" routerLink="/forgotpass"
                      class="text font-medium">Forgot your password? </a></p>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
 
</section>