<!-- <p>landing works!</p>
<h1>Welcome To BankLingo</h1>
<div class="welcome-page">
    <div class="overlap-wrapper">
      <div class="overlap">
        <div class="overlap-2">
          <div class="frame"></div>
          <div class="group-wrapper">
            <div class="group">
              <div class="bank-lingo">
                <span class="span">Bank</span>
                <span class="text-wrapper-2">Lingo</span>
              </div>
            </div>
          </div>
         
        </div>
        <div class="overlap-3">
          <img
            class="woman-shaking-hands"
            alt="Woman shaking hands"
            src="assets/img/sammy-line-woman-shaking-hands-with-new-employee.png"
          />
          <div class="frame-2"></div>
          <p class="don-t-have-an">
            <span class="text-wrapper-3">Don’t have an account?</span>
            <span class="text-wrapper-4">&nbsp;</span>
            <span class="text-wrapper-5"><a routerLink = "/register">Register</a></span>
          </p>

          <button class="frame-wrapper">
            <div class="div-wrapper">
              <div class="text-wrapper-6">Login</div>
            </div>
          </button>
          
        </div>
        
        
          
       
     
      </div>
    </div>
  </div>
   -->


   <div class="container  side-margins headerTop">
    <div class="col">
      <div class="row-1">
            <div class="d-flex align-items-center flex-column bd-highlight mt-3">
                <div class=" bd-highlight">
                    <h1>Welcome to</h1>
                </div>
                <div class=" bd-highlight">
                    <span class=" span  fs-3 mybgcolor ">Bank</span><span class="text-wrapper-2  fs-3">Lingo</span>
                </div>
              </div>
    </div>
    
      <div class="row d-flex align-items-center mt-5 flex-column ">
        <img
            class="woman-shaking-hands"
            alt="Woman shaking hands"
            src="assets/img/sammy-line-woman-shaking-hands-with-new-employee.png"
          />
      </div>
      <div class="bd-highlight text-center"style="text-align">
        <h6>BankLingo makes banking easy! simplify banking, boost your confidence, and help you make smarter choices for a brighter future. </h6>
    </div>
      <div class="row d-flex align-items-center flex-column">
        <br/><br/><br/>
        <button type="button"  class="btn " routerLink = "/login">Login</button>
        <br/>
        <p style="text-align: center;">
            <span class="text-wrapper-3">Don’t have an account?</span>
            <span class="text-wrapper-4">&nbsp;</span>
            <span class="text-wrapper-5"><a class="mybgcolor" routerLink = "/register">Register</a></span>
          </p>
      </div>
    </div>
  </div>


