

img{
    height: 30vh;
    width: 70vw;
}
.btn{
    width: 80vw; 
    border-radius: 999em 999em 999em 999em; 
    background-color: #38a3a5;
    color:white;
}

.fs-3{
   color: #38a3a5;
   font-weight: 900;
 
  
}
.lingo{
    color: black;
    font-weight: 900;
  
}
.imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        height: 300px;
        width: 300px;
    }

}

.slogan{
    width: 40%;
    margin: 0 auto;
}
.flex-column{
    button{
        width: 150px;
    }
}
.welcome{
    h1{
        font-size: 70px;
    }
}
.no-account{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}