<section class="vh-100 bg-image"
  style="background-color: white">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
       

        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
         
            <div class="card-body p-5">
              
                <div class="align-items-center justify-content-center d-flex">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                      alt="Generic placeholder image" class="img-fluid profileImage"
                      style="width: 120px; height:120px; border-radius: 120px;">
                  </div>
                  
                
              <form [formGroup]="profileForm" (ngSubmit)="updaterUser()" >

                <div class="form-outline mb-4">
                    <label for="floatingInput">First name</label>
                  <input   class="form-control form-control-lg" style=" border: 1px solid; border-color: black;"
                  id="name" formControlName="name"
                  />
                 
</div>
                <div class="form-outline mb-4">
                    <label for="floatingInput">Last name</label>
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" style=" border: 1px solid; border-color: black;"
                    id="surname"
                    formControlName="surname"  />
                   

                </div>

                
                <div class="form-outline mb-4">
                    <label for="floatingInput">Age</label>
                  <input id="age" type="text" class="form-control form-control-lg" style=" border: 1px solid; border-color: black;" formControlName="age"
                    />

                </div>
                 

                <div class="form-outline mb-4">
                    <label for="floatingInput">Email</label>
                  <input id="email" class="form-control form-control-lg" style=" border: 1px solid; border-color: black;" formControlName="email"
                    />

                </div>

                <div class="form-outline mb-4">
                    <label for="floatingInput">Phone number</label>
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" style=" border: 1px solid; border-color: black;"
                    />

                   
                    
                  </div>
                  <label for="floatingInput">Click to upload image</label>
                  <div class="input-group mb-4">
                   
                    <input type="file" class="form-control" style=" border: 1px solid; border-color: black;" id="profile_picture" formControlName="profile_picture" >
                  
                  </div>

                <div class="d-flex justify-content-center">
                  
                    <button type="submit" [disabled]="!profileForm.valid" class="btn btn-primary btn-sm" >Save</button>
                    <button type="submit" class="btn btn-secondary btn-sm">Cancel</button>
                </div>
               
            

              </form>


            </div>
          
     
    
    
               
              
          </div>
          <app-bottom-nav-bar></app-bottom-nav-bar>
        </div>

        
      </div>

      
    </div>
    

</section>

 <!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label>Name:</label>
    <input type="text" formControlName="name" />
  
    <label>Email:</label>
    <input type="email" formControlName="email" />
  
    <label>Profile Picture:</label>
    <input type="text" formControlName="profilePicture" />
  
    <button type="submit">Save Changes</button>
  </form> -->